{% extends 'baseadmindashboard.html' %}

{% block title %} All UserInfo {% endblock title %}


{% block body %}

<div class="container">
  <div class="text-center">
    <i class="fa fa-users text-danger fa-3x"></i>
    </div>
    <h3   class=" text-white text-center text-uppercase">:All-Users:</h3>
    
    <br>
    <div class="row">
        <div class="col-md-12">
            {% include 'messege.html' %}   
            <table class="table table-striped table-dark">
                <thead>
                  <tr class="bg-danger">
                     
                    <th scope="col">AdmissionID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in data %}
                  <tr>                     
                    <td>{{data.admissionid}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.address}}</td>
                    <td>{{data.phone}}</td>
                    <td><a href="/useredit/{{data.id}}" class="btn btn-warning ">Edit</a> <a href="#" class="btn btn-danger ml-3">Delete</a></td>
                    
                  </tr>
                  {% endfor %}
                                    
                </tbody>
              </table>
        </div>
    </div>

</div> 


{% endblock body %}