<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}  {% endblock title %}</title>
    <link rel="stylesheet" href="../static/css/userdashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="shortcut icon" href="../static/images/favicon (1).ico" type="image/x-icon">

  </head>
  <body>

    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Mess Management <span>(User-DashBoard)</span></h3>
      </div>
      <div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
        
      </div>
    </header>
    <!--header area end-->
    <!--sidebar start-->
    <div class="sidebar">
      <center>
        <div class="profile_image"><i class="fas fa-user mt-3  pl-2 fa-3x text-white"></i></div>
        <h4>{{current_user}}dipghosh</h4>
      </center>    

       <a href="/userdashboard" ><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="/userdailybazarexpense"><i class="fas fa-shopping-basket"></i><span>Daily-Bazar-Expense</span></a>
      <a href="/usermealrecord"><i class="fas fa-mortar-pestle"></i><span>Meal-Record</span></a>
      <a href="/usermessage"><i class="fas fa-comment"></i><span>Message</span></a>
      <a href="/userendofmonth"><i class="fas fa-calendar"></i><span>End-Of-Month</span></a>
       
    </div>
    <!--sidebar end-->

    <div class="content">
     {% block body %}
      
     
     {% endblock body %}

    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>
