{% extends 'baseadmindashboard.html' %}

{% block title %}MealRecord{% endblock title %}

{% block body %}
<div class="container">
    <div class="text-center mt-2">        
        <i class="fas fa-mortar-pestle  text-danger fa-3x"></i>
        <h3 class="text-white border-bottom border-danger pb-2">-MealRecord-</h3>
        {% include 'messege.html' %}
    </div>
    

    <div class="row ">
        <div class="col-md-12">

            <table class="table table-striped table-dark">
                <thead>
                  <tr class="bg-danger">
                    
                    <th scope="col">AdmissionID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Breakfast</th>
                    <th scope="col">Lunch</th>
                    <th scope="col">Dinner</th>                    
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in postdata %}
                  <tr>
                    
                    <td>{{data.addmissionid}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.date}}</td>
                    <td>{{data.breakfast}}</td>
                    <td>{{data.lunch}}</td>
                    <td>{{data.dinner}}</td>
                    <td><a href="/editmealrecord/{{data.id}}"  class="btn btn-warning ">Edit</a> <a href="/deletemeal/{{data.id}}"    class="btn btn-danger ml-3">Delete</a></td>
                    
                  </tr> 
                 {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>




{% endblock body %}
