{% extends 'baselogin.html' %}

{% block title %} User Login {% endblock title %}

{% block body %}

<div class="container">
    <div class="row mt-5">

        <div class="col-md-12">

            <div class="card mb-3"style="background-color: rgb(26, 25, 25);">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://source.unsplash.com/600x900/?login,webside" class="img-fluid rounded-start"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center ">
                            <i class="fa-solid fa-circle-user text-danger fa-3x"></i>
                            <h5 class="card-title text-center text-danger text-bolder">-User Login-</h5>
                            
                              {% include 'messege.html' %}

                        </div>

                        <form action="/userlogin" method="POST" class="m-2">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label text-white">Name</label>
                                <input type="text" class="form-control text-danger" name="name" placeholder="Enter Your Name" required>
                               
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Admission ID</label>
                                <input type="password" class="form-control text-danger" name="admissionid" placeholder="Enter Your Addmission Id" required>
                                <div id="emailHelp" class="form-text text-danger">Don't Share Your Admission Id With Anyone Else
                                </div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label text-white" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-danger ">Login</button>
                        </form>

                        <div class="text-center">
                           <a href="/"> <i class="fa-solid fa-backward text-info fa-3x mt-5"></i>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>


</div>
{% endblock body %}